{% extends "base.html" %}
{% load static %}
    {% block title %}Finalizar pedido{% endblock title %}

{% block content %}
    <h2>Meu pedido</h2>
    {% include "carrinho_detalhado.html" %}
    <h3>Forma de pagamento</h3>
    <div class="payment-methods">
        <button class="payment-option">💵 Dinheiro<br><small>Solicitar troco para: R$ 0,00</small></button>
        <button class="payment-option">💳 Cartão de débito</button>
        <button class="payment-option">💳 Cartão de crédito</button>
        <button class="payment-option">💲 PIX</button>
    </div>

    <button class="finalize-order">✔ FINALIZAR PEDIDO</button>
        
{% endblock content %}