<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff3d3d">
    <div class="container">
      <a class="navbar-brand" href="{% url 'menu:index' %}">
        <i class="fas fa-pizza-slice fa-lg me-2"></i>Pizza Express
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="fas fa-book-open me-1"></i>Cardápio
          </a>
          <a class="nav-link active" href="{% url 'clientes:login_cliente' %}">
            <i class="fas fa-sign-in-alt me-1"></i>Login
          </a>
          {% if request.resolver_match.view_name == "menu:index" %}
            <button class="nav-link active" data-bs-toggle="offcanvas" data-bs-target="#carrinhoOffcanvas" aria-controls="carrinhoOffcanvas">
            {% comment %} <a class="nav-link active" href="{% url 'menu:carrinho_detalhado' carrinho.id %}"> {% endcomment %}
              <i class="fas fa-shopping-cart me-1"></i>Carrinho
              <span class="badge bg-light text-dark rounded-pill ms-1">{{ qtd_item_carrinho }}</span>
            </a>
          </button>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>
