{% extends "base.html" %}
{% load static %}

{% block title %}
Registro
{% endblock title %}



{% block bg %}
<div class="background"></div>

<style>
    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("{% static 'clientes/img/pizza.jpg' %}") no-repeat center center/cover;
        filter: blur(10px);
        z-index: -1;
    }
</style>
{% endblock bg %}

{% block content %}
    <div class="form-container">
        <h2><b>Registro</b></h2>
            <form method="POST">
                {% csrf_token %}
                {{ user_form.non_field_errors }}
                {{ address_form.non_field_errors }}
                <div class="form-group">
                    <label for="{{ user_form.first_name.id_for_label }}">Nome</label>
                    {{ user_form.first_name }}
                    {{ user_form.first_name.errors }}
                    
                    <label for="{{ user_form.last_name.id_for_label }}">Sobrenome</label>
                    {{ user_form.last_name }}
                    {{ user_form.last_name.errors }}
                    
                    <label for="{{ user_form.email.id_for_label }}">E-Mail</label>
                    {{ user_form.email }}
                    {{ user_form.email.errors }}
                    
                    <label for="{{ user_form.cpf.id_for_label }}">CPF</label>
                    {{ user_form.cpf }}
                    {{ user_form.cpf.errors }}
                    
                    <label for="{{ user_form.telefone.id_for_label }}">Telefone</label>
                    {{ user_form.telefone }}
                    {{ user_form.telefone.errors }}
                    

                    <label for="{{ user_form.password1.id_for_label }}">Senha</label>
                    {{ user_form.password1 }}
                    {{  user_form.password1.errors }}

                    <label for="{{ user_form.password2.id_for_label }}">Confirme a senha</label>
                    {{ user_form.password2 }}
                    {{  user_form.password2.errors }}
                </div>

                <h2><b>Endereço</b></h2>
                
                {% include "endereco_form.html" %}
                <button type="submit" class="submit-btn">Cadastre-se</button>
                
                </form>
    </div>    
{% endblock content %}