{% extends "base.html" %}
{% load static %}
    {% block title %}Finalizar pedido{% endblock title %}

{% block content %}
    <h2 class="display-6">Meu pedido</h2>
    {% include "carrinho_detalhado.html" %}
    <p class="fs-4 fw-bold">Total: R${{ subtotal|floatformat:2 }}</p>
    <h3 class="mt-4">Forma de pagamento</h3>

    <div class="mt-3">
        <form method="post" class="p-4 border rounded bg-light">
            {% csrf_token %}
            <div class="mb-3">
                <label for="metodo_pagamento" class="form-label">Método de Pagamento</label>
                <select name="metodo_pagamento" id="metodo_pagamento" class="form-select">
                    <option value="" disabled selected>Selecione um método</option>
                    <option value="debito">Débito</option>
                    <option value="credito">Crédito</option>
                    <option value="pix">Pix</option>
                    <option value="dinheiro">Dinheiro</option>
                </select>
            </div>

            <div id="cartao" class="mb-3" style="display: none;">
                <label for="cartao" class="form-label">Número do cartão</label>
                <input type="number" max=20 name="cartao" class="form-control">
                <label for="cvv" class="form-label mt-2">CVV</label>
                <input type="text" max=3 name="cvv" class="form-control">
            </div>

            <div id="dinheiro" class="mb-3" style="display: none;">
                <label for="dinheiro" class="form-label">Troco para:</label>
                <input type="number" name="dinheiro" class="form-control">
            </div>

            <div class="mb-3">
                <input type="radio" name="retirada_ou_entrega" value="entrega" id="entrega" class="form-check-input">
                <label for="entrega" class="form-check-label">Entrega (40 min)</label>
                <input type="radio" name="retirada_ou_entrega" value="retirada" id="retirada" class="form-check-input ms-3">
                <label for="retirada" class="form-check-label">Retirada (20 min)</label>
            </div>

            <div id="form-endereco" class="mb-3" style="display: none;">
                <h3>Endereço</h3>
                <label for="endereco" class="form-label">Escolha o endereço</label>
                <div class="d-flex align-items-center">
                    <select name="endereco" id="endereco" class="form-select">
                        {% for endereco in enderecos %}
                            <option value="{{ endereco.rua }}, {{ endereco.numero }}, {{ endereco.bairro }}">
                                {{ endereco.rua }}, {{ endereco.numero }}, {{ endereco.bairro }}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#adicionar_endereco">
                        <b>+</b>
                    </button>
                </div>
            </div>

            <button type="submit" class="btn btn-success btn-lg w-100 mt-4">FINALIZAR PEDIDO</button>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const radioEntrega = document.getElementById('entrega');
                    const formEndereco = document.getElementById('form-endereco');

                    if (radioEntrega && formEndereco) {
                        radioEntrega.addEventListener('change', function() {
                            formEndereco.style.display = this.checked ? 'block' : 'none';
                        });

                        document.getElementById('retirada').addEventListener('change', function() {
                            formEndereco.style.display = 'none';
                        });
                    }

                    const formPagamento = document.getElementById('metodo_pagamento');
                    const formCartao = document.getElementById('cartao');
                    const formDinheiro = document.getElementById('dinheiro');

                    formPagamento.addEventListener('change', function() {
                        if (this.value === 'debito' || this.value === 'credito') {
                            formCartao.style.display = 'block';
                        } else {
                            formCartao.style.display = 'none';
                        }

                        if (this.value === 'dinheiro') {
                            formDinheiro.style.display = 'block';
                        } else {
                            formDinheiro.style.display = 'none';
                        }
                    });
                });
            </script>
        </form>

        <!-- Modal -->
        <form method="post" action="{% url "clientes:salvar_endereco" %}">
            {% csrf_token %}
            <div class="modal fade" id="adicionar_endereco" tabindex="-1" aria-labelledby="add_endereco_modal" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add_endereco_modal">Adicionar endereço</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% include "endereco_form.html" %}
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}