{% extends "base.html" %}
{% load static %}
    {% block title %}Cardápio{% endblock title %}
    
    {% block content %}
    <h1>Cardápio</h1>
    <div class="menu">
        {% for produto in produtos %}
            <div class="menu-item">
                    {% comment %} <img src="{{ produto.image_url }}" alt="{{ produto.nome }}"> {% endcomment %}
                <div class="menu-details">
                    <h2>{{ produto.nome }}</h2>
                    <p>{{ produto.descricao }}</p>
                </div>
                <div class="menu-price">
                    <span>{{ produto.preco }}</span>
                    <a href="{% url 'menu:adicionar_ao_carrinho' produto.id %}" class="btn btn-primary">+</a>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock content %}
