{% extends "base.html" %}
{% load static %}
    {% block title %}Menu{% endblock title %}

    {% block body %}
    
    <table>
        <caption>
            Menu
        </caption>

        <thead>
            <th>Sabor</th>
            <th>Preço</th>
            <th>Descrição</th>
        </thead>
        
        <tbody>
            {% for produto in dataset %}
                <tr>
                    <td>
                        {{ produto.nome }}
                    </td>
                    <td>
                        {{ produto.preco }}
                    </td>
                    <td>
                        {{ produto.descricao }}
                    </td>
                </tr>                
            {% endfor %}    
        </tbody>    
    </table>   
    {% endblock body %}
