{% extends "base.html" %}
{% load static %}
    {% block title %}Cardápio{% endblock title %}

    {% block content %}
    <div class="d-flex justify-content-center">
        <h1 class="display-5">Cardápio</h1>
    </div>
    <div class="container">

        <div class="d-flex justify-content-center mt-3">
            <form action="{% url 'menu:buscar' %}" method="GET" class="w-50">
                <div class="input-group">
                    <input type="search" name="q" class="form-control p-3 fs-5" placeholder="Buscar produto" value="{{request.GET.q}}">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% if page_obj %}
        <div class="menu mt-4">
            {% for produto in page_obj %}
                <div class="menu-item d-flex justify-content-between align-items-center p-3 mb-3 border rounded">
                    <div class="menu-details">
                        <h2 class="mb-1">{{ produto.nome }}</h2>
                        <p class="text-muted">{{ produto.descricao }}</p>
                    </div>
                    <div class="menu-price d-flex align-items-center">
                        <span class="me-3 fs-4">R${{ produto.preco }}</span>
                        {% csrf_token %}
                        <a href="{% url 'menu:adicionar_ao_carrinho' produto.id %}" class="btn btn-success btn-ajax">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-danger text-center fw-bold mt-5" role="alert">
            Nenhum produto encontrado.
        </div>
    {% endif %}

    <!-- Offcanvas for Carrinho -->
    {% include "partials/_cartoffcanvas.html" %}

{% endblock content %}
