<div id="item-carrinho" class="menu">
    {% csrf_token %}
    {% for item in item_carrinho %}
        <div id="menu-item-{{ item.produto.id }}-carrinho" class="menu-item d-flex justify-content-between align-items-center py-2 border-bottom">
            <div class="menu-details d-flex align-items-center flex-grow-1">
                <div class="quantity-controls d-flex align-items-center me-3">
                    <a href="{% url 'menu:remover_do_carrinho' item.produto.id %}" class="btn btn-danger btn-sm btn-ajax">
                        <i class="fas fa-minus"></i>
                    </a>
                    <span id="quantidade-{{ item.produto.id }}-carrinho" class="quantity mx-2">{{ item.quantidade }}</span>
                    <a href="{% url 'menu:adicionar_ao_carrinho' item.produto.id %}" class="btn btn-success btn-sm btn-ajax">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
                <span class="product-name flex-grow-1">{{ item.produto.nome }}</span>
                <span id="total-{{ item.produto.id }}-carrinho" class="product-total me-3">R$ {{ item.get_total|floatformat:2 }}</span>
            </div>
            <div class="remove-action">
                <a href="{% url 'menu:excluir_do_carrinho' item.produto.id %}" class="btn btn-outline-danger btn-ajax">
                    <i class="fas fa-trash"></i> 
                </a>
            </div>
        </div>
    {% endfor %}
</div>
